<div id="contractForm" class="h-full flex-1 flex flex-col">
  <div class="ibm-plex-mono-medium mb-3">Summary of Contract Terms</div>
  <ol class="list-decimal ml-6 space-y-2 text-[.9em]">
    <li>You agree not to overstay your visa duration.</li>
    <li>You commit to adhering to local laws and regulations.</li>
    <li>Violation of these terms may result in legal actions.</li>
  </ol>
</div>
