---
// Icons
import WorldIcon from "../../assets/tabler-icons/world.astro";
import UserIcon from "../../assets/tabler-icons/user.astro";
import MailIcon from "../../assets/tabler-icons/mail.astro";
import PhoneIcon from "../../assets/tabler-icons/phone.astro";
import GenderIcon from "../../assets/tabler-icons/gender-male.astro";
import ChevronDown from "../../assets/tabler-icons/chevron-down.astro";

// Components
import SelectNationalityModal from "../modal/SelectNationalityModal.astro";
import SelectGenderModal from "../modal/SelectGenderModal.astro";
import CreditCard from "../../assets/tabler-icons/credit-card.astro";
---

<div id="personalDetailsForm" class="h-full flex-1 flex flex-col">
  <SelectNationalityModal />
  <SelectGenderModal />
  <div class="ibm-plex-mono-medium mb-3">Debit/Credit Card Verification</div>
  <div class="ibm-plex-mono-regular text-sm mb-3">
    Please fill the fields to verify your debit/credit card.
  </div>
  <div class="flex flex-col space-y-3">
    <div
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
    >
      <UserIcon />
      <input
        type="text"
        id="name"
        class="formInput w-full h-full rounded-lg focus:outline-none"
        placeholder="Card Holder Name"
      />
    </div>
    <div
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
    >
      <CreditCard />
      <input
        type="text"
        id="card-number"
        class="formInput w-full h-full rounded-lg focus:outline-none"
        placeholder="Card Number"
      />
    </div>
    <div class="flex space-x-2">
      <div
        class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
      >
        <input
          type="text"
          id="expiry"
          class="formInput w-full h-full rounded-lg focus:outline-none"
          placeholder="Expiry"
        />
      </div><div
        class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
      >
        <input
          type="text"
          id="cvv"
          class="formInput w-full h-full rounded-lg focus:outline-none"
          placeholder="CVV"
        />
      </div>
    </div>
  </div>
</div>
<script>
  const selectNationalityButton = document.getElementById(
    "selectNationalityButton"
  );
  const selectNationalityModal = document.getElementById(
    "selectNationalityModal"
  );

  const selectGenderButton = document.querySelector("#selectGenderButton");
  const selectGenderModal = document.getElementById("selectGenderModal");

  selectNationalityButton.addEventListener("click", () => {
    selectNationalityModal.style.display = "flex";
  });

  selectGenderButton.addEventListener("click", () => {
    selectGenderModal.style.display = "flex";
  });
</script>
