---
// Icons
import WorldIcon from "../../assets/tabler-icons/world.astro";
import UserIcon from "../../assets/tabler-icons/user.astro";
import MailIcon from "../../assets/tabler-icons/mail.astro";
import PhoneIcon from "../../assets/tabler-icons/phone.astro";
import GenderIcon from "../../assets/tabler-icons/gender-male.astro";
import ChevronDown from "../../assets/tabler-icons/chevron-down.astro";
---

<div id="personalDetailsForm" class="h-full flex-1 flex flex-col">
  <div class="ibm-plex-mono-medium mb-3">Provide Personal Details</div>
  <div class="flex flex-col space-y-3">
    <button
      id="selectNationalityButton"
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center justify-between"
    >
      <div class="flex space-x-2">
        <WorldIcon />
        <div>Nationality</div>
      </div>
      <ChevronDown />
    </button>
    <div
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
    >
      <UserIcon />
      <input
        type="text"
        id="name"
        class="formInput w-full h-full rounded-lg focus:outline-none"
        placeholder="Name"
      />
    </div>
    <div
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
    >
      <MailIcon />
      <input
        type="text"
        id="email"
        class="formInput w-full h-full rounded-lg focus:outline-none"
        placeholder="Email"
      />
    </div>
    <div
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center space-x-2"
    >
      <PhoneIcon />
      <input
        type="text"
        id="mobile_number"
        class="formInput w-full h-full rounded-lg focus:outline-none"
        placeholder="Mobile Number"
      />
    </div>
    <button
      id="selectGenderButton"
      class="w-full h-14 text-left px-4 border rounded-lg text-[.9em] flex items-center justify-between"
    >
      <div class="flex space-x-2">
        <GenderIcon />
        <div>Gender</div>
      </div>
      <ChevronDown />
    </button>
  </div>
</div>
<script>
  const selectNationalityButton = document.getElementById(
    "selectNationalityButton"
  );
  const selectNationalityModal = document.getElementById(
    "selectNationalityModal"
  );

  const selectGenderButton = document.querySelector("#selectGenderButton");
  const selectGenderModal = document.getElementById("selectGenderModal");

  selectNationalityButton.addEventListener("click", () => {
    selectNationalityModal.style.display = "flex";
  });

  selectGenderButton.addEventListener("click", () => {
    selectGenderModal.style.display = "flex";
  });
</script>
