---
// Icons
import XIcon from "../../assets/tabler-icons/x.astro";
import SearchIcon from "../../assets/tabler-icons/search.astro";
import CircleCheckIcon from "../../assets/tabler-icons/circle-check.astro";
import Send from "../../assets/tabler-icons/send.astro";
import { Image } from "astro:assets";
---

<div
  id="AIChatModal"
  class={`hidden absolute bottom-0 left-0 w-full h-[65svh] z-[500] bg-white flex-col p-4 justify-between`}
>
  <div class="flex flex-col">
    <div class="flex items-center justify-between">
      <div class="ibm-plex-mono-semibold">AI Chat</div>
      <button id="closeModalButton" class="p-1 z-12 rounded-full bg-grey">
        <XIcon className="h-5" />
      </button>
    </div>

    <div class="ibm-plex-mono-regular text-sm mb-3">
      How can we help you or improve?
    </div>
  </div>

  <div class="flex-1 w-full flex flex-col space-y-2">
    <div
      class={`${true ? "self-end" : "self-start"} flex space-x-2 items-center`}
    >
      <div
        class="bg-grey rounded-full h-10 w-10 flex justify-center items-center text-black"
      >
        A
      </div>
      <div class="flex flex-col">
        <div class="ibm-plex-mono-medium text-[.8em]">
          You <span class="text-[.8em]">2:34</span>
        </div>
        <div
          class={`ibm-plex-mono-regular ${true ? "bg-dark-green text-white" : "bg-grey text-black"} rounded-full py-2 px-4 text-[.8em]`}
        >
          Please assist me!
        </div>
      </div>
    </div>
    <div
      class={`${false ? "self-end" : "self-start"} flex space-x-2 items-center`}
    >
      <div
        class="bg-grey rounded-full h-10 w-10 flex justify-center items-center text-black overflow-hidden"
      >
        <Image
          src="/assets/image/Ahmad.png"
          alt="Ahmed"
          class="object-contain"
          height={100}
          width={100}
        />
      </div>
      <div class="flex flex-col">
        <div class="ibm-plex-mono-medium text-[.8em]">
          Ahmed <span class="text-[.8em]">2:34</span>
        </div>
        <div
          class={`ibm-plex-mono-regular ${false ? "bg-dark-green text-white" : "bg-grey text-black"} rounded-full py-2 px-4 text-[.8em]`}
        >
          How may I help you?
        </div>
      </div>
    </div>
  </div>

  <div>
    <form class="w-full">
      <div class="relative">
        <input
          type="text"
          id="default-message"
          class="block w-full p-4 pe-10 text-sm bg-grey text-gray-900 rounded-lg focus:outline-none"
          placeholder="Type a message"
        />
        <div
          class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none"
        >
          <Send className="h-5" />
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  // Close the modal
  const closeModalButtons = document.querySelectorAll("#closeModalButton");
  const AIChatModal = document.getElementById("AIChatModal");

  closeModalButtons.forEach((e) => {
    e.addEventListener("click", () => {
      AIChatModal.style.display = "none";
    });
  });

  // Select language
  const AIChatButtons = document.querySelectorAll(".AIChatButton");
  const submitButton = document.getElementById(
    "submitLanguageButton"
  ) as HTMLButtonElement;
  let selectedLanguage = "";
  AIChatButtons.forEach((e) => {
    e.addEventListener("click", () => {
      // Hide previously checked language if exists, and show recently selected.
      if (selectedLanguage) {
        const previousCheck = document.getElementById(
          "languageCheck-" + selectedLanguage
        );
        previousCheck.style.display = "none";
      }
      const currentCheck = document.getElementById("languageCheck-" + e.id);
      currentCheck.style.display = "block";
      selectedLanguage = e.id;

      // Allow submit once language is selected
      submitButton.disabled = false;
      submitButton.className =
        "w-full bg-dark-green p-2 rounded-full text-white text-[.9em]";
    });
  });
</script>
