---
// Components
import Layout from "../../../layouts/Layout.astro";
import AgentLayout from "../../../layouts/AgentLayout.astro";
import AIAgent from "../../../components/AIAgent.astro";
import AgentOptionScreen from "../../../components/screen/AgentOption.astro";
import GetUmrahVisaScreen from "../../../components/screen/GetUmrahVisa.astro";
import SelectLanguageModal from "../../../components/modal/SelectLanguageModal.astro";
import EmploymentVerification from "../../../components/form/EmploymentVerification.astro";
import PersonalDetails from "../../../components/form/PersonalDetails.astro";
import User from "../../../assets/tabler-icons/user.astro";
import VisaDetailsForm from "../../../components/form/VisaDetailsForm.astro";
import VerificationForm from "../../../components/form/VerificationForm.astro";
---

<Layout title="AI Agent">
  <AgentLayout
    hideMicrophone
    next="/agent/get-umrah-visa/4"
    prev="/agent/get-umrah-visa/2"
  >
    <div
      id="getUmrahVisaScreen"
      class="flex-1 h-screen w-full flex flex-col mb-24"
    >
      <div class="flex items-center w-full space-x-4 mb-4">
        <div
          class="min-w-14 min-h-14 flex items-center justify-center bg-grey rounded-lg"
        >
          <User className="h-10" />
        </div>
        <div class="w-full flex flex-col space-y-1">
          <div class="text-[.9em]">
            Step 3: <span class="font-medium">Data Verification</span>
          </div>
          <div class="flex space-x-1 w-full">
            <div id="1" class="bg-green h-3 flex-1 rounded-full"></div>
            <div id="2" class="bg-green h-3 flex-1 rounded-full"></div>
            <div id="3" class="bg-green h-3 flex-1 rounded-full"></div>
            <div id="4" class="bg-light-green h-3 flex-1 rounded-full"></div>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col">
        <VerificationForm />
      </div>
    </div>
  </AgentLayout>
</Layout>

<script>
  const selectLanguageButton = document.querySelector("#selectLanguageButton");
  const selectLanguageModal = document.getElementById("selectLanguageModal");

  const step = 1;
  const nextButton = document.querySelector("#nextButton");
  const prevButton = document.querySelector("#prevButton");

  selectLanguageButton.addEventListener("click", () => {
    selectLanguageModal.style.display = "flex";
  });
</script>
