---
// Components
import Layout from "../../../../layouts/Layout.astro";
import AIAgent from "../../../../components/AIAgent.astro";
import AgentOptionScreen from "../../../../components/screen/AgentOption.astro";
import GetUmrahVisaScreen from "../../../../components/screen/GetUmrahVisa.astro";
import SelectLanguageModal from "../../../../components/modal/SelectLanguageModal.astro";
import EmploymentVerification from "../../../../components/form/EmploymentVerification.astro";
import PersonalDetails from "../../../../components/form/PersonalDetails.astro";
import User from "../../../../assets/tabler-icons/user.astro";
import AgentLayout from "../../../../layouts/AgentLayout.astro";
import IncomeVerification from "../../../../components/form/IncomeVerification.astro";
---

<Layout title="AI Agent"
  ><AgentLayout
    hideMicrophone
    next="/agent/get-umrah-visa/3"
    prev="/agent/get-umrah-visa/3"
    nextText="Submit"
  >
    <!-- <AgentOptionScreen /> -->

    <div
      id="getUmrahVisaScreen"
      class="flex-1 h-screen w-full flex flex-col mb-24"
    >
      <div class="flex-1 flex flex-col">
        <IncomeVerification />
      </div>
    </div>
  </AgentLayout>
</Layout>
